@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&family=Poppins:wght@300;400;500;700");
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bitter:wght@300&family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bitter:wght@300&family=Raleway&family=Roboto&display=swap');

h1 {
  color: #345995;
  font-family: 'Raleway';
}

h2 {
  color: #03CEA4;
  font-family: 'Bitter';
  font-weight: bolder;
}

h3 {
  color: #03CEA4;
  font-family: 'Bitter';
  font-weight: bolder;
}

p {
  color: #345995;
  font-family: 'Roboto';
  margin-bottom: 30px;
}

a {
  text-decoration: none;
  color: #345995
}

#logo {
  border-radius: 50%
}


.container {
width: 700px;
margin: 0 auto;
text-align: center;
}


.card {
  margin-top: 25px;
  background: white;
  padding: 30px;
  border: 1px solid lightgrey;
  border-radius: 5px;
  box-shadow: 2px;
}

body {
  background-color: rgb(239, 242, 242);
}

.list-inline > li {
  display: inline-block;
  padding: 0px 35px;
  text-align: center;
  padding-inline-start: 0px;
}

.list-inline {
  list-style: none;
  padding-left: 0px;
  font-size: 40px;
  text-align: center;
}

a:hover {
  color: rgb(201, 201, 201);
}

.button {
  background-color: #03CEA4;
  border: none;
  color: white;
  padding: 15px 20px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  border-radius: 4px;
  font-family: 'Roboto';
  margin-top: 30px;
}

@media (max-width: 769px) {
  .container {
    width: 500px;
  }
}
